<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia Perguntas</title>

    <!-- Arquivo do bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- no css não precisa colocar a pasta public     -->
    <!-- não pode esquecer de colocar o / antes do css -->
    <link rel="stylesheet" href="/css/style.css">
</head>